//variables.scss

//Colors
$primary-color: #620097;
$secondary-color: #FDBA31;
$tertiary-color: #370075;
$text-white: #FFFFFF;
$text-black: #000000;
$background-dark: #000000;
$background-light: #E2DADA;

//Fonts
$primary-font: var(--font-inter), sans-serif;