@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  background-color: $background-dark;
  color: $text-white;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: $secondary-color;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: $secondary-color;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 200;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.75rem;
  font-weight: 200;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: $secondary-color;
  color: $text-black;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    width: 92vh;
  }
}
