@use "../../_styles/variables" as *;

.experience-section {
    width: 100%;
    background-color: #37007566;
}

.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
    @include max-width-container;

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;
        gap: 1rem;
        border-right: solid 1px $background-light;
        padding: 1rem;

        &:last-child {
            border-right: none;
        }

    }

    @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    &-item {
        min-width: 250px;
        flex-shrink: 0;
        scroll-snap-align: center;
        gap: 0.5rem;
    }
  }

}