.background {
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(800px circle at 10% 20%, rgba(98, 0, 151, 0.8), transparent 60%),
    radial-gradient(800px circle at 90% 40%, rgba(98, 0, 151, 0.8), transparent 60%),
    radial-gradient(800px circle at 30% 80%, rgba(98, 0, 151, 0.8), transparent 60%),
    radial-gradient(
      500px circle at var(--x) var(--y),
      rgba(180, 0, 255, 0.35),
      transparent 60%
    ),
    #000;
}