@use "../../_styles/variables" as *;

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    padding: 4rem;

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;

        &-title {
            width: 70%;
            padding: 1.5rem;
            border-bottom: solid 1px $background-light;

            &:last-child {
                border-bottom: none;
            }
        }

    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 40vh;
        padding: 1.5rem;
        gap: 1rem;
        background-color: #62009766;
    }
}