@use "../../_styles/variables" as *;

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem;

    &-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        height: 50vh;
        padding: 1rem;
        background-color: #62009766
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        gap: 1rem;
    }

    &-form-inputs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
    }

    &-form-inputs__input {
        padding: 1rem;
        width: 100%;
        border-radius: 0.3rem;
        border: 1px solid white;
        background-color: transparent;
    }

    &-form-textarea {
        padding: 1rem;
        width: 100%;
        border-radius: 0.3rem;
        border: 1px solid white;
        background-color: transparent;
    }
}