@use "../../_styles/variables" as *;

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    width: 400px;
    height: auto;
    gap: 1.5rem;
    background-color: #37007566;
    border-radius: 0.3rem;

    &-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &-tools {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    &-tools-span {
        background-color: $secondary-color;
        color: $text-black;
        padding: 0.25rem 0.5rem;
        border-radius: 0.3rem;
    }


}